.add__todo-from {
  display: flex;
  gap: 6rem;
  margin-top: 3rem;
  justify-content: center;
  background-color: black;
  color: white;
  position: relative;
}

.add-todo-item {
  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: black;
  color: white;
  padding: 2rem;
}

.input-title,
.input-date {
  padding: 0.5rem;
  font-size: 18px;
}
.add-todo-item label {
  font-size: 24px;
}
.add-todo__container button {
  text-align: center;
  justify-content: center;
  background-color: Green;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  
}
